*.o
.depend
*.o.flags
.config
.config.old
.hdepend
.version
System.map
arch/i386/boot/bzImage
arch/i386/lib/.lib.a.flags
arch/i386/lib/lib.a
drivers/net/hamradio/soundmodem/gentbl
drivers/net/hamradio/soundmodem/sm_tbl_afsk1200.h
drivers/net/hamradio/soundmodem/sm_tbl_afsk2400_7.h
drivers/net/hamradio/soundmodem/sm_tbl_afsk2400_8.h
drivers/net/hamradio/soundmodem/sm_tbl_afsk2666.h
drivers/net/hamradio/soundmodem/sm_tbl_fsk9600.h
drivers/net/hamradio/soundmodem/sm_tbl_hapn4800.h
drivers/net/hamradio/soundmodem/sm_tbl_psk4800.h
drivers/pci/classlist.h
drivers/pci/devlist.h
drivers/pci/gen-devlist
include/asm
include/config/
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
lib/.lib.a.flags
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
scripts/lxdialog/lxdialog
scripts/mkdep
scripts/split-include
vmlinux.bz2
vmlinux
